{% extends 'base.html' %}

{% block page %}
<br>
<h1>Корзина</h1>
    <table class="table table-hover table-striped table-active">
        <thead>
            <tr>
                <th>Изображение товара</th>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="ссылка на товар">{{ item.product.main_image }}</a></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.new_price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_item_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}