{% extends 'base.html' %}
{% load static %}
{% block page %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Имя">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Оформить доставку:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Адрес">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="note" placeholder="Примечание">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Заказать">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Детали оплаты</small>
            <button id="make-payment">Оплатить</button>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; К корзине</a>
            <hr>
            <h3>Итого</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>

{% endblock %}