{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div>
        <h4>Способы оплаты заказа</h4>
        <h5>В настоящее время оплата заказов в нашем интернет-магазине осуществляется банковской картой онлайн, в момент оформления заказа.</h5>
    </div>
    <br>
    <div>
        <h4>Срок доставки товаров</h4>
        <h5>Срок доставки товара зависит от того на каком складе находится выбранный товар и адреса доставки. В среднем доставка товара осуществляется в течение 1-2 рабочих дней.</h5>
    </div>
    <br>
    <div>
        <h4>Правила возврата товара</h4>
        <h5>Срок возврата товара надлежащего качества составляет 21 день с момента получения.

            Условия:
            Полная комплектация товара.
            Товар не был в употреблении.
            Сохранен товарный вид (не нарушены пломбы, фабричные ярлыки, этикетки, есть заводская упаковка, если она составляет часть товарного вида изделия).
            Сохранены потребительские свойства.
            Товар не должен входить в перечень товаров надлежащего качества, которые не подлежат обмену и возврату после покупки, согласно Перечню, утвержденному постановлением Правительства Кыргызской Республики от 12 октября 1998 г. № 667.
            Для возврата товара наличие чека не обязательно, так как информация о покупках сохраняется в Вашем Личном кабинете.</h5>
    </div>
{% endblock %}