{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div style="color:#3f3b3b">
        <div>
            <h5>Способы оплаты заказа</h5>
            <h6>В настоящее время оплата заказов в нашем интернет-магазине осуществляется банковской картой онлайн, в момент оформления заказа.</h6>
        </div>
        <br>
        <div>
            <h5>Срок доставки товаров</h5>
            <h6>Срок доставки товара зависит от того на каком складе находится выбранный товар и адреса доставки.<br>
                В среднем доставка товара осуществляется в течение 1-2 рабочих дней.
            </h6>
        </div>
        <br>
        <div>
            <h5>Правила возврата товара</h5>
            <h6>
                Срок возврата товара надлежащего качества составляет 21 день с момента получения.<br>
                Условия:<br>
                Полная комплектация товара.<br>
                Товар не был в употреблении.<br>
                Сохранен товарный вид (не нарушены пломбы, фабричные ярлыки, этикетки, есть заводская упаковка, если она составляет часть товарного вида изделия).<br>
                Сохранены потребительские свойства.<br>
                Товар не должен входить в перечень товаров надлежащего качества, которые не подлежат обмену и возврату после покупки, согласно Перечню, утвержденному постановлением Правительства Кыргызской Республики от 12 октября 1998 г. № 667.<br>
                Для возврата товара наличие чека не обязательно, так как информация о покупках сохраняется в Вашем Личном кабинете.
            </h6>
        </div>
    </div>
{% endblock %}