{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Дата заказа</th>
            <th scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% if order.complete %}
                  <tr>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.get_cart_total }} сом</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}