{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    {% if message %}
      <h3 class="alert alert-success">{{ message }}</h3>
    {% endif %}
  </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Дата и время заказа</th>
            <th scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% if order.complete %}
                  <tr>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.get_cart_total }} сом</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}