{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КепкаKG</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/for_cart_icons.css' %}">

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
      var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken('csrftoken')

      function getCookie(name) {
        // Разделяем строку cookie получаем все отдельные пары имя = значение в массиве
        var cookieArr = document.cookie.split(";");

        // Перебираем элементы массива
        for(var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Удаление пробелов в начале имени файла cookie
          и сравниваем == его с заданной строкой */
          if(name == cookiePair[0].trim()) {
            // Расшифровываем значение cookie и возвращаем
            return decodeURIComponent(cookiePair[1]);
          }
        }

        // Вернуть null если не найден
        return null;
      }
  	  var cart = JSON.parse(getCookie('cart')) // cart используется в cart.js 48

      if (cart == undefined){
        cart = {}
        console.log('Cart was created!', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }
      console.log('Cart:', cart)

    </script>
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="{% url 'products' %}" class="navbar-brand">КепкаKG</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Header links -->
            <div class="navbar-nav">
                <a href="{% url 'info' %}" class="nav-item nav-link">Оплата и доставка</a>
                <a href="{% url 'cart' %}">
                  <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cartItems" style="color:rgb(179, 182, 150)">{{cartItems}}</p>
                <br>
                <form method="get">
                  {{ filter.form.as_p }}
                  <button class="btn btn-primary" type="submit">Поиск</button>
                </form>
            </div>
        </div>
        &#8195;
          <form class="navbar-nav">
            <li class="nav-item">
                {% if request.user.is_authenticated and request.user %}
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    {{ request.user.username }}
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'edit-profile' request.user.profile.id %}">
                      Мой профиль
                    </a>
                    <a class="dropdown-item" href="{% url 'orders_list' request.user.customer.id %}">
                      Мои покупки
                    </a>
                  </div>
                </li>
                    <a href="{% url 'account_logout' %}" class="nav-link d-inline">Выйти?</a>
                {% else %}
                    <a href="#" class="nav-link d-inline">
                      Привет, Гость
                    </a> 
                    <a href="{% url 'account_login' %}" class="nav-link d-inline">Войти?</a>
                {% endif %}
            </li>
          </form>
    </nav>
    <div>
      <div class="row">
      {% block page %}
          <div class="col-lg-2 col-md-1">
            <div class="list-group">
              {% for category in categories %}
                <div    
                  class="list-group-item d-flex justify-content-between
                    {% if category.id == category_pk %}
                      list-group-item-info
                    {% endif %}
                    ">
                    <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                </div>
              {% endfor %}
            </div>
            <br>          
            <h4 class="alert alert-success">Оставьте отзыв и получите скидку!</h4>
            <div class="container-fluid">
              <form action="{% url 'feedback' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form feedback_form %}
                <button class="btn btn-info">
                  Отправить
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10">
          <br>
          {% block content %}
          {% endblock %}
          <br>
        </div>
      </div>
      {% endblock %}
    </div>
        <!-- Footer -->
        <footer>
        	<div class="footer-bottom">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
		        			<p>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abf9ada38e695198339df5787b6df71c769687bbfb16614a9cc61bf7cf9288474&amp;width=400&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                  </p>
	                    </div>
		        		<div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
		        			<h3>Контакты</h3>
                            <p><i class="fas fa-map-marker-alt"></i>г. Бишкек ВЕФА 1 эт.</p>
                            <p><i class="fas fa-map-marker-alt"></i>г. Бишкек Киевская, 124</p>
		                	<p><i class="fas fa-phone"></i> +996 556 783 768, + 996 709 783 768</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
	                    </div>
	                    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
	                    	<h3>Мы в соц сетях</h3>
	                    	<p>
	                    		<a href="#"><i class="fab fa-facebook"></i></a> 
								<a href="#"><i class="fab fa-twitter"></i></a> 
								<a href="#"><i class="fab fa-google-plus-g"></i></a> 
								<a href="#"><i class="fab fa-instagram"></i></a> 
								<a href="#"><i class="fab fa-pinterest"></i></a>
	                    	</p>
	                    </div>
		            </div>
		        </div>
	        </div>
        </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>