{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container-fluid text-center bg-grey">
    <div class="row text-center">
    {% for obj in filter.qs %}
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="{% url 'product_detail' obj.id %}">
        {% if obj.main_image %}
          <img src="{{ obj.main_image.url }}" width="150px">
        {% endif %}
          </a>
        <a href="{% url 'product_detail' obj.id %}">
          <p>{{ obj.name }}</p>
        </a>
          <p><strong>{{ obj.old_price|floatformat:0 }} сом</strong></p>        
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}