{% extends 'index.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    {% if message %}
      <h3 class="alert alert-success">{{ message }}</h3>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        {% if product.main_image.url%}
            <div>
                <img src="{{ product.main_image.url }}" width="200px">
            </div>
        {% endif %}
    </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
            <h4>{{ product.name }} - 
                {% if product.availability %}
                    <button class="btn btn-sm btn-success">Есть в наличии</button>
                {% endif %}</h4>
            <h4>{{ product.old_price }} сом</h4>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Добавить в корзину</button>
            <div>
                <b> 
                    Описание товара: 
                </b>
                {{ product.description|linebreaks }}
            </div>
            
            {% for ch in all_characteristic %}
                <div>
                    Цвет: {{ ch.color }}
                </div> 
                <div> 
                    Размеры: {{ ch.size }}
                </div>
                <div>
                    Материал: {{ ch.material }}
                </div> 
            {% endfor %}
                <div> 
                    Категория товара: 
                </div>
        </div>
</div>
<div>
    {% for add_image in add_images %}
        <img src="{{ add_image.addentional_images.url }}" width="200px">
    {% endfor %}
</div>
{% endblock %}