<table class="table table-hover table-striped table-active">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата заказа</th>
            <th>Товары</th>
            <th>Адрес</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }}</td>
                <td><a href="{% url 'product' order.orderitem_set.product.id %}">{{ order.orderitem_set.product.name }}</a></td>
                <td>{{ order.shipping_set.address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>